body {
    font-family: Arial, sans-serif;
    background-color: #c7c7c7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

section {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-right: 10px;
    color: #696969;;
}

input[type="text"] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #adadad;
    width: 100%;
    box-sizing: border-box;
}

input[type="password"] {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #adadad;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#btn {
    text-align: center;
    margin-bottom: 20px;
}

#foto img {
    border-radius: 50%;
    border-color: rgb(204, 204, 204);
    border-width: 3px;
    border-style:solid;
    width: 150px;
    margin-bottom: 5%;
}

#foto {
    text-align: center;
}

#pai {
    border-color: rgb(204, 204, 204);
    border-width: 2px;
    border-style:solid;
    border-radius: 10px;
    margin: ;
}

.campo {
    display: flex;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

